@model List<PurchaseOrder.Models.ParentModel>

<form method="post" asp-controller="Home" asp-action="Index">
    

    @Html.TextBoxFor(Model => Model[0].Name, new { @class = "form-control", @placeholder="Name" })
    @Html.TextBoxFor(Model => Model[0].Address, new { @class = "form-control", @placeholder="Address" })
    @Html.TextBoxFor(Model => Model[0].Phone, new { @class = "form-control", @placeholder="Phone" })

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                var Instance = Model[i];
                <tr>
                    <td>@Instance.ProductName</td>
                    <td>@Instance.Price</td>
                    <td>
                        
                        @Html.TextBoxFor(Model => Model[i].Quantity, new { @class = "form-control", placeholder = "Quantity" })

                        @Html.TextBoxFor(Model => Model[i].ProductId, new { @class = "form-control", @Type = "Hidden", @value=Model[i].ProductId })
                        
                        @Html.TextBoxFor(Model => Model[i].Name, new { @class = "form-control", @Type = "Hidden", @value=Model[0].Name })
                        
                        @Html.TextBoxFor(Model => Model[i].Address, new { @class = "form-control", @Type = "Hidden", @value=Model[0].Address })
                       
                        @Html.TextBoxFor(Model => Model[i].Phone, new { @class = "form-control", @Type = "Hidden", @value=Model[0].Phone })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>


