@model List<PurchaseOrder.Models.ProductModel>

<form method="post">
    
    @{
        string? Name=null;
        string? Phone = null;
        string? Address = null;
    }

    <input type="text" value="@Name" placeholder="Name" />
    <input type="text" value="@Address" placeholder="Address" />
    <input type="tel" value="@Phone" placeholder="Phone" />

    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var Instance in Model)
            {
                <tr>
                    <td>@Instance.ProductName</td>
                    <td>@Instance.Price</td>
                    <td>
                        <input type="number" asp-for="@Instance.Quantity"  />

                        <input type="hidden" asp-for="@Instance.ProductId" value="@Instance.ProductId" />

                        <input type="hidden" asp-for="@Instance.Name" value="@Name" />
                        <input type="hidden" asp-for="@Instance.Address" value="@Address" />
                        <input type="hidden" asp-for="@Instance.Phone" value="@Phone" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Submit Order</button>
</form>


